@using System.Net.Http.Headers

@inject HttpClient _http
@inject AuthHandler _auth
@inject TasksService _tasksService
@inject TaskStateService _TaskStateService
@using Fistix.Training.Domain.Dtos
@implements IDisposable

<h1>Tasks - @Tasks.Count</h1>

<span class="error">@ErrorDetails</span>

@*<thead>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Is Active</td>
    </tr>
  </thead>
  @foreach (var task in Tasks)
  {
    <tbody>
      <tr>
        <td>@task.Title</td>
        <td>@task.Description</td>
        <td>@task.Active</td>
      </tr>
    </tbody>
  }*@

<SfButton OnClick="RefreshTasks" Disabled="IsTaskRunning">Refresh</SfButton>

<SfGrid @ref="Grid" DataSource="@Tasks" AllowPaging="true" AllowSorting="true" AllowFiltering="true">

  <GridPageSettings PageSize="15"></GridPageSettings>

  <GridColumns>
    <GridColumn Field=@nameof(TaskDto.Title) HeaderText="Title" TextAlign="TextAlign.Left" Width="100"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.Description) HeaderText="Description" Width="150"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.Active) HeaderText="Active" TextAlign="TextAlign.Left" Width="70"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.CreatedOn) HeaderText="Created Date" TextAlign="TextAlign.Left" Width="120" Type="ColumnType.Date"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.ModifiedOn) HeaderText="Modified Date" TextAlign="TextAlign.Left" Width="120" Type="ColumnType.Date"></GridColumn>

    <GridColumn HeaderText="Update" TextAlign="TextAlign.Center" Width="70">
      <Template>
        @{
          var myObj = (context as TaskDto);
          <div>
            <SfButton CssClass="e-info">
              <a href="edit/@myObj.TaskId" class="text-white" Match="NavLinkMatch.All">
                Edit
              </a>
            </SfButton>
          </div>
        }
      </Template>
    </GridColumn>

    <GridColumn HeaderText="Delete" TextAlign="TextAlign.Center" Width="70">
      <Template>
        @{
          var obj = (context as TaskDto);

          <SfButton CssClass="e-danger" Disabled="IsTaskRunning" @onclick="() => StoreId(obj.TaskId)">
            Delete
            
            <SfDialog Width="250px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsVisible">
              <DialogTemplates>
                <Header> Confirm Delete</Header>
                <Content> Are you sure you want to delete this record? (@idToBeDeleted)</Content>
              </DialogTemplates>
              <DialogButtons>
                <DialogButton Content="OK" IsPrimary="true" @onclick="() => Delete(idToBeDeleted)" />
                <DialogButton Content="Cancel" OnClick="@CloseDialog" />
              </DialogButtons>
            </SfDialog>
          </SfButton>
        }
      </Template>
    </GridColumn>
  </GridColumns>

  <GridEvents TValue="TaskDto" OnActionBegin="ActionBegin"></GridEvents>
</SfGrid>

<div>
  <div id="container">
    <SfSpinner @bind-Visible="@SpinnerVisiblity" CssClass="e-spin-overlay"
               Type="@SpinnerType.Bootstrap" Size="100">
    </SfSpinner>
  </div>
</div>

<SfToast @ref="ToastObj" Title="@ToastTitle" CssClass="e-toast-success">
  <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

@code {

  [Parameter]
  public List<TaskDto> Tasks { get; set; }

  //[Parameter]
  //public EventCallback OnRefershTask { get; set; }




  private Guid? idToBeDeleted { get; set; }

  //Toast
  SfToast ToastObj;
  private string ToastTitle = "Record deleted successfully!";

  private bool IsTaskRunning { get; set; } = false;
  private bool SpinnerVisiblity { get; set; } = false;
  private bool IsVisible { get; set; }
  public string ErrorDetails = "";


  SfGrid<TaskDto> Grid;

  private IDisposable apiCallSub;
  public string ErrorMessage = "";
  public bool IsSucceed { get; set; }


  public async Task ActionBegin(ActionEventArgs<TaskDto> arg)
  {
    //Handles refresh operation
    if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Refresh))
    {

      //await OnRefershTask.InvokeAsync();
      //await GetAllTasks();
    }
  }

  protected override void OnInitialized()
  {
    Subscribes();
    base.OnInitialized();
  }

  private void RefreshTasks()
  {
    this.IsVisible = false;
    IsTaskRunning = true;
    SpinnerVisiblity = true;
    _TaskStateService.GetAllTasks();
  }

  private void Subscribes()
  {
    apiCallSub = _TaskStateService.ApiCallResultObservable.Subscribe(x =>
    {
      Console.WriteLine(x.Operation);
      Console.WriteLine(x.IsSucceed);
      switch (x.Operation)
      {

        case "DeleteTask":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;

            ToastObj.Show().GetAwaiter().GetResult();

            StateHasChanged();
          }

          break;

        case "GetAllTasks":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;
            StateHasChanged();
          }

          break;
      }

    });

  }
  private /*async Task*/void Delete(Guid? val)
  {

    this.IsVisible = false;
    IsTaskRunning = true;
    SpinnerVisiblity = true;
    _TaskStateService.DeleteTask(val.Value);
    CloseDialog();
  }


  private void StoreId(Guid? id)
  {
    idToBeDeleted = id;
    OpenDialog()/*.GetAwaiter().GetResult()*/;
  }

  private /*async Task*/void OpenDialog()
  {
    this.IsVisible = true;
  }

  private void CloseDialog()
  {
    this.IsVisible = false;
  }
  public void Dispose()
  {
    apiCallSub.Dispose();
  }

}