@using System.Net.Http.Headers

@inject HttpClient _http
@inject AuthHandler _auth
@inject TasksService _tasksService
@inject TaskStateService _TaskStateService
@using Fistix.Training.Domain.Dtos
@using Fistix.Training.Domain.Commands.Tasks
@implements IDisposable

<h1>Tasks - @Tasks.Count</h1>

<span class="error">@ErrorDetails</span>

@*<thead>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Is Active</td>
    </tr>
  </thead>
  @foreach (var task in Tasks)
  {
    <tbody>
      <tr>
        <td>@task.Title</td>
        <td>@task.Description</td>
        <td>@task.Active</td>
      </tr>
    </tbody>
  }*@
@*<div class="d-flex justify-content-center mt-4">*@
<div class="d-flex justify-content-between mb-2">
  <div class="mr-5">
    <SfButton OnClick="RefreshTasks" Disabled="IsTaskRunning">Refresh</SfButton>
  </div>

  <div>
    <SfButton OnClick="CreateModalOpen" Disabled="IsTaskRunning" CssClass="e-primary">Add New Task</SfButton>
    @*<button type="button" class="btn btn-secondary" @onclick="OpenModal" >Add New Task</button>*@

  </div>
</div>
@if (CreateModalPopup)
{
  <div class="modal" tabindex="-1" role="dialog" style="display: block; background: #00000033;">
    <div class="modal-dialog">
      <div class="modal-content" style="position: absolute; right: -85px; top: 203px;">
        <div class="modal-header">
          <h5 class="modal-title">Add New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CreateModalClose"></button>
        </div>
        <div class="modal-body">
          @*<p>Modal body text goes here.</p>*@

          <label style="color: tomato; font-size: 10px">@ErrorMessage</label>
          <SfTextBox @ref="Title" Placeholder="Enter Title"
                     @bind-Value="@CreateCommand.Title" FloatLabelType='@FloatLabelType.Auto'>
          </SfTextBox>

          <label style="color: tomato; font-size: 10px">@ErrorMessage</label>
          <SfTextBox @ref="Description" Placeholder="Enter Description"
                     @bind-Value="@CreateCommand.Description" FloatLabelType='@FloatLabelType.Auto'>
          </SfTextBox>

          <SfCheckBox Label="Is Active" @bind-Checked="@CreateCommand.Active"></SfCheckBox>

          <div class="d-flex justify-content-center mt-4">
            <div class="mr-5">
              <SfButton CssClass="e-success" Disabled="IsTaskRunning" @onclick="AddNewTask">Create</SfButton>
              @*<button @onclick="AddNewTask">Save</button>*@

              <SfButton CssClass="e-info" OnClick="CreateModalClose">
                Close
              </SfButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (EditModalPopup)
{
  <div class="modal" tabindex="-1" role="dialog" style="display: block; background: #00000033;">
    <div class="modal-dialog">
      <div class="modal-content" style="position: absolute; right: -85px; top: 203px;">
        <div class="modal-header">
          <h5 class="modal-title">Add New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="EditModalClose"></button>
        </div>
        <div class="modal-body">
          @*<p>Modal body text goes here.</p>*@

          <label style="color: tomato; font-size: 10px">@ErrorMessage</label>
          <SfTextBox @ref="Title" Placeholder="Enter Title"
                     @bind-Value="@UpdateCommand.Title" FloatLabelType='@FloatLabelType.Auto'>
          </SfTextBox>

          <label style="color: tomato; font-size: 10px">@ErrorMessage</label>
          <SfTextBox @ref="Description" Placeholder="Enter Description"
                     @bind-Value="@UpdateCommand.Description" FloatLabelType='@FloatLabelType.Auto'>
          </SfTextBox>

          <SfCheckBox Label="Is Active" @bind-Checked="@UpdateCommand.Active"></SfCheckBox>

          <div class="d-flex justify-content-center mt-4">
            <div class="mr-5">
              <SfButton CssClass="e-success" Disabled="IsTaskRunning" @onclick="UpdateTask">Update</SfButton>
              @*<button @onclick="AddNewTask">Save</button>*@

              <SfButton CssClass="e-info" OnClick="EditModalClose">
                Close
              </SfButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}


<SfGrid @ref="Grid" DataSource="@Tasks" AllowPaging="true" AllowSorting="true" AllowFiltering="true">

  <GridPageSettings PageSize="15"></GridPageSettings>

  <GridColumns>
    <GridColumn Field=@nameof(TaskDto.Title) HeaderText="Title" TextAlign="TextAlign.Left" Width="100"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.Description) HeaderText="Description" Width="100"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.Active) HeaderText="Active" TextAlign="TextAlign.Center" Width="70"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.CreatedOn) HeaderText="Created Date" TextAlign="TextAlign.Left" Width="120" Type="ColumnType.Date"></GridColumn>
    <GridColumn Field=@nameof(TaskDto.ModifiedOn) HeaderText="Modified Date" TextAlign="TextAlign.Left" Width="120" Type="ColumnType.Date"></GridColumn>

    <GridColumn HeaderText="Update" TextAlign="TextAlign.Center" Width="100">
      <Template>
        @{
          var myObj = (context as TaskDto);
          <div>
            <SfButton CssClass="e-info">
              <a href="edit/@myObj.TaskId" class="text-white" Match="NavLinkMatch.All">
                Edit
              </a>
            </SfButton>
            <SfButton CssClass="e-info" Disabled="IsTaskRunning" @onclick="() => EditTask(myObj.TaskId)">
              Edit Modal
            </SfButton>
          </div>
        }
      </Template>
    </GridColumn>

    <GridColumn HeaderText="Delete" TextAlign="TextAlign.Center" Width="70">
      <Template>
        @{
          var obj = (context as TaskDto);

          <SfButton CssClass="e-danger" Disabled="IsTaskRunning" @onclick="() => StoreId(obj.TaskId)">
            Delete
          </SfButton>
          <SfDialog Width="250px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsVisible"
                    CloseOnEscape="true">
            <DialogTemplates>
              <Header> Confirm Delete</Header>
              <Content> Are you sure you want to delete this record? (@idToBeDeleted)</Content>
            </DialogTemplates>
            <DialogButtons>
              <DialogButton Content="OK" IsPrimary="true" @onclick="() => Delete(idToBeDeleted)" />
              <DialogButton Content="Cancel" OnClick="@CloseDialog" />
            </DialogButtons>
          </SfDialog>
        }
      </Template>
    </GridColumn>
  </GridColumns>

  @*<GridEvents TValue="TaskDto" OnActionBegin="ActionBegin"></GridEvents>*@
</SfGrid>

<div>
  <div id="container">
    <SfSpinner @bind-Visible="@SpinnerVisiblity" CssClass="e-spin-overlay"
               Type="@SpinnerType.Bootstrap" Size="100">
    </SfSpinner>
  </div>
</div>

<SfToast @ref="ToastObj" Title="@ToastTitle" CssClass="e-toast-success">
  <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

@code {


  //[Parameter]
  //public EventCallback OnRefershTask { get; set; }


  //Create start
  private bool CreateModalPopup { get; set; }
  SfTextBox Title;
  SfTextBox Description;
  CreateTaskCommand CreateCommand = new CreateTaskCommand();

  private void CreateModalOpen()
  {
    this.CreateModalPopup = true;
  }
  private void CreateModalClose()
  {
    this.CreateModalPopup = false;
  }

  private void AddNewTask()
  {
    if (CreateCommand != null)
    {
      if (String.IsNullOrWhiteSpace(CreateCommand.Title))
      {
        Title.CssClass = "e-error";
      }
      else if (String.IsNullOrWhiteSpace(CreateCommand.Description))
      {
        Description.CssClass = "e-error";
      }
      else
      {
        IsTaskRunning = true;
        SpinnerVisiblity = true;
        _TaskStateService.CreateTask(CreateCommand);
      }
    }
  }

  //Edit start
  //public string TaskId { get; set; }
  private bool EditModalPopup { get; set; }
  private TaskDto taskDto = new TaskDto();
  UpdateTaskCommand UpdateCommand = new UpdateTaskCommand();
  private void EditModalOpen()
  {
    this.EditModalPopup = true;
  }
  private void EditModalClose()
  {
    this.EditModalPopup = false;
  }

  private async void EditTask(Guid? TaskId)
  {
    taskDto = await _TaskStateService.GetTaskById(Guid.Parse(TaskId.ToString()));

    UpdateCommand.Title = taskDto.Title;
    UpdateCommand.Description = taskDto.Description;
    UpdateCommand.Active = taskDto.Active;
    UpdateCommand.Id = Guid.Parse(taskDto.TaskId.ToString());
    EditModalOpen();
    Subscribes();

    //StateHasChanged();
  }
  private void UpdateTask()
  {
    if (UpdateCommand != null)
    {
      if (String.IsNullOrWhiteSpace(UpdateCommand.Title))
      {
        Title.CssClass = "e-error";
      }
      else if (String.IsNullOrWhiteSpace(UpdateCommand.Description))
      {
        Description.CssClass = "e-error";
      }
      else
      {
        IsTaskRunning = true;
        SpinnerVisiblity = true;
        _TaskStateService.UpdateTask(UpdateCommand.Id, UpdateCommand);
      }
    }
  }

  [Parameter]
  public List<TaskDto> Tasks { get; set; }

  private Guid? idToBeDeleted { get; set; }

  //Toast
  SfToast ToastObj;
  private string ToastTitle = "Record deleted successfully!";

  private bool IsTaskRunning { get; set; } = false;
  private bool SpinnerVisiblity { get; set; } = false;
  private bool IsVisible { get; set; }
  public string ErrorDetails = "";


  SfGrid<TaskDto> Grid;

  private IDisposable apiCallSub;
  public string ErrorMessage = "";
  public bool IsSucceed { get; set; }


  //public async Task ActionBegin(ActionEventArgs<TaskDto> arg)
  //{
  //  //Handles refresh operation
  //  if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Refresh))
  //  {

  //    //await OnRefershTask.InvokeAsync();
  //    //await GetAllTasks();
  //  }
  //}

  protected override void OnInitialized()
  {
    Subscribes();
    base.OnInitialized();
  }

  private void RefreshTasks()
  {
    this.IsVisible = false;
    IsTaskRunning = true;
    SpinnerVisiblity = true;
    _TaskStateService.GetAllTasks();
  }

  private void Subscribes()
  {
    apiCallSub = _TaskStateService.ApiCallResultObservable.Subscribe(x =>
    {
      Console.WriteLine(x.Operation);
      Console.WriteLine(x.IsSucceed);
      switch (x.Operation)
      {

        case "DeleteTask":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;

            ToastObj.Show().GetAwaiter().GetResult();

            StateHasChanged();
          }

          break;

        case "GetAllTasks":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;
            StateHasChanged();
          }

          break;

        case "CreateTask":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;

            ToastObj.Show().GetAwaiter().GetResult();

            CreateCommand.Title = "";
            CreateCommand.Description = "";

            CreateModalClose();

            StateHasChanged();
          }

          break;

        case "UpdateTask":

          if (x.IsSucceed == false)
          {
            ErrorMessage = x.ErrorMessage;
            StateHasChanged();
          }
          else
          {
            IsSucceed = true;
            IsTaskRunning = false;
            SpinnerVisiblity = false;

            ToastObj.Show().GetAwaiter().GetResult();

            //command.Title = "";
            //command.Description = "";

            EditModalClose();

            StateHasChanged();
          }

          break;
      }

    });

  }

  //Delete start
  private /*async Task*/void Delete(Guid? val)
  {

    this.IsVisible = false;
    IsTaskRunning = true;
    SpinnerVisiblity = true;
    _TaskStateService.DeleteTask(val.Value);
    CloseDialog();
  }

  private void StoreId(Guid? id)
  {
    idToBeDeleted = id;
    OpenDialog()/*.GetAwaiter().GetResult()*/;
  }

  private /*async Task*/void OpenDialog()
  {
    this.IsVisible = true;
  }

  private void CloseDialog()
  {
    this.IsVisible = false;
  }
  public void Dispose()
  {
    apiCallSub.Dispose();
  }
  //Delete end

}